.App {
  display: flex;
  text-align: center;
  width: 100%;
}

.column-wrapper {
  flex-basis: 30%;
  min-height: 100px;
  flex-grow: 1;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin-right: 25px;
  padding: 10px;
}